<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/css/card.css" rel="stylesheet">
    <script src="./assets/js/card.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">

            <!-- DISEC -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/DISEC.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/unhcc.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UNGA DISEC</h3>
                                </div>

                            </div>

                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                    font-weight: revert;
                                    font-family: sans-serif;
                                    padding-bottom: 51px;
                                    padding-top: 40px;" class="text-center">United Nations General Assembly<br>
                                        Disarmament and International Security Committee</h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                    margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4>Beginner</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button data-toggle="modal" data-target="#DISEC_EB" class="btn btn-light text-white"
                                        style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';
                                ">EB Members</button>
                                    <button data-toggle="modal" data-target="#DISEC_agenda"
                                        class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';
                                ">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->

            <!-- EB Modal -->
            <div id="DISEC_EB" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" id="modal-adj">
                        <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div> -->
                        <div class="modal-body">
                            <img id="modalimg" src="./assets/img/EB/DISEC.webp" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Agenda Modal -->
            <div id="DISEC_agenda" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" id="modal-adj">
                        <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div> -->
                        <div class="modal-body">
                            <img id="modalagendaimg" src="./assets/img/agendas/DISEC.webp" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>




            <!-- UNFCCC -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/UNFCCC.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/unfcc.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UN FCCC</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                                font-weight: revert;
                                                font-family: sans-serif;
                                                padding-bottom: 51px;
                                                padding-top: 40px;" class="text-center">United Nations Framework
                                        Convention on Climate Change</h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                                margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4>Beginner</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button data-toggle="modal" data-target="#UNFCCC_EB"
                                        class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button data-toggle="modal" data-target="#UNFCCC_agenda"
                                        class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->


            <!-- EB Modal -->
            <div id="UNFCCC_EB" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" id="modal-adj">
                        <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div> -->
                        <div class="modal-body">
                            <img id="modalimg" src="./assets/img/EB/UNFCCC.webp" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Agenda Modal -->
            <div id="UNFCCC_agenda" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" id="modal-adj">
                        <!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div> -->
                        <div class="modal-body">
                            <img id="modalagendaimg" src="./assets/img/agendas/UNFCCC.webp" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


            <!-- WHA -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/WHA.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/who.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">WHA</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                    font-weight: revert;
                                    font-family: sans-serif;
                                    padding-bottom: 51px;
                                    padding-top: 40px;" class="text-center">&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj;
                                        &zwnj; &zwnj; &zwnj; &zwnj;

                                        World Health Assembly

                                        &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;
                                        &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;
                                        &zwnj;&zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;&zwnj;
                                        &zwnj;&zwnj;&zwnj; &zwnj; </h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                    margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4>Beginner</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Double</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->

            <!-- UNHRC -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/UNHRC.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/unhrc.svg" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UNHRC</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                                font-weight: revert;
                                                font-family: sans-serif;
                                                padding-bottom: 51px;
                                                padding-top: 40px;" class="text-center">United Nations Human Rights
                                        Council</h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                                margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4>Beginner</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Double</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->


            <!-- UN WOMEN -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/UNW.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/un_women.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UN WOMEN</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                    font-weight: revert;
                                    font-family: sans-serif;
                                    padding-bottom: 51px;
                                    padding-top: 40px;" class="text-center">United Nations Entity for Gender Equality
                                        and the Empowerment of Women</h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                    margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4>Beginner</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->


            <!-- SPECPOL -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/SPECPOL.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/specpol.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UNGA SPECPOL</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                                font-weight: revert;
                                                font-family: sans-serif;
                                                padding-bottom: 51px;
                                                padding-top: 40px;" class="text-center"> United Nations General
                                        Assembly<br> Special political and Decolonization
                                        Committee</h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                                margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Intermediate</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->


            <!-- ECOSOC -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/ECOSOC.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/ecosoc.jpg" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">ECOSOC</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                    font-weight: revert;
                                    font-family: sans-serif;
                                    padding-bottom: 51px;
                                    padding-top: 40px;" class="text-center">United Nations Economic and Social Council
                                    </h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                    margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Intermediate</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Double</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->



            <!-- UNSC -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/UNSC.jpg" />
                            </div>
                            <div class="user">
                                <img style="width: 87%;
                                height: 83%;padding-left: 9px;    padding-top: 10px;" class="img-circle"
                                    src="./assets/img/logo/committees/sc.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UNSC</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                                font-weight: revert;
                                                font-family: sans-serif;
                                                padding-bottom: 51px;
                                                padding-top: 40px;" class="text-center">&zwnj; &zwnj; &zwnj;

                                        United Nations Security Council

                                        &zwnj; &zwnj; &zwnj; &zwnj;&zwnj;
                                    </h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                                margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Advanced</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->

            <!-- UNPBC -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/UNPBC.jpg" />
                            </div>
                            <div style="width: 184px;" class="user">
                                <img class="img-circle" style="height: 115px !important;
                                width: 180px !important;" src="./assets/img/logo/committees/unpbc.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">UNPBC</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                    font-weight: revert;
                                    font-family: sans-serif;
                                    padding-bottom: 51px;
                                    padding-top: 40px;" class="text-center">United Nations Peacebuilding Commission
                                    </h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                    margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Advanced</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4 style="font-size: 12px;">Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
        </div>

        <div class="row">
            <!-- HC -->
            <div class="col-md-4 col-sm-6"></div>
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="./assets/img/posters/HCC.jpg" />
                            </div>
                            <div class="user">
                                <img class="img-circle" src="./assets/img/logo/committees/unhcc.png" />
                            </div>

                            <div class="content">
                                <div class="main">
                                    <h3 class="name">HISTORICAL CRISIS</h3>
                                </div>

                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="content">
                                <div class="main">
                                    <h4 style="font-size: larger;
                                                font-weight: revert;
                                                font-family: sans-serif;
                                                padding-bottom: 51px;
                                                padding-top: 40px;" class="text-center">
                                        &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;
                                        Historical Crisis Committee
                                        &zwnj; &zwnj; &zwnj;&zwnj; &zwnj; &zwnj;&zwnj; &zwnj;
                                    </h4>
                                    <div class="stats-container" style="margin-left: 17%;
                                                margin-top: -5% !important;">
                                        <div class="stats">
                                            <h4>Flagship</h4>
                                            <p>
                                                Level
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>Single</h4>
                                            <p>
                                                Delegate
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row text-center mx-auto">
                                <div class="col">
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">EB Members</button>
                                    <button class="btn btn-light text-white" style="background-color: #bab86c;
                                width: 8em;
                                font-family: 'Poppins';">Agendas</button>
                                </div>
                            </div>

                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
        </div>
    </div>
</body>

</html>