.darkmode{
    background-color:#121212;
}
.txt{
    color:#fafafa;
}
#icon{
    width: 1.9rem;
    cursor: pointer;
}
.dark{
 margin-left: 6.3rem;
}
#cr{
    color: #bab86c !important;
}
.muntimer{
    text-align: center;
    padding: 70px 50px;
    background: #0D1A29;
    font-family: sans-serif;
    font-weight: lighter;
}
#timer {
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 20px #48C8FF;
}

#timer div {
    display: inline-block;
    min-width: 90px;
}

#timer div span {
    color: #B1CDF1;
    display: block;
    font-size: .35em;
    font-weight: 400;
}
